h1 {
  color: green;
  font-size: 20px;
  border: 1px solid green;
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px;
}

li {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
